.logo {
    height: 100px;
    width: 100px;
}

.minilogo {
    height: 40px;
    width: 40px;

}

body, div, h1, h2, h3, h4, h5, h6, p, ol, footer {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    box-sizing: border-box;
}
.navbar a {
    padding: 10px;
}

a {
    text-decoration: none; 
    color: inherit; 
}

a:hover {
    color: inherit; 
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

header, footer {
    padding: 20px;
    color: #333;
    text-align: center;
}

.card {
    background: #f4f4f4;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.prato {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 280px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f4f4f4;
}

.prato img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.menu_atual {
    color:white;
    width: 100px;
    background-color: rgb(173, 167, 167); 
    padding: 30%; 
    border-radius: 5%; 
}